body {
  margin: 0;
}

.nav{
  position: absolute;
  top: 5px;
  left: 5px;
  display: inherit;
}
button.side-display {
  height: 55px;
  width: 120px;
  border-radius: 10px;
  margin: 5px;
}
button.demo {
  height: 55px;
  width: 120px;
  border-radius: 10px;
  margin: 5px;
}
p.display-equations{
  margin: 2px; 
  font-size: initial;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-image: url("images/black-close-up-dark-396547.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  display: inline-flex;
}

.calc-container {
  height: 300px;
  width: 225px;
  background-image: url("images/img-noise-370x470.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px grey;
}

.display {
  height: 24%;
  margin: auto;
  display: flex;
}

h4.side-display-header{
  margin: 10px;
}

ul {
  float: left;
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: initial;
}

output.equation-display{
  height: 300px;
  width: 300px;
  background-color: white;
  border: 1px solid blue;
  text-align: left;
  font-size: 30px;
  overflow: auto;
  margin: 5px;
  text-align: center;
}
.display-wrapper{
  display: flex;
  overflow: auto;
  flex-direction: column-reverse;
}

div.display>output.calc-display {
  width: 95%;
  margin: auto;
  background-color: white;
  border-radius: 15%;
  border: 1px solid blue;
  text-align: right;
  font-size: 30px;
  overflow: hidden;
  padding: 3px;
}

.fade-in {
  animation: blinkingText 0.4s;
}

@keyframes blinkingText {
  0% {
    color: transparent;
  }

  100% {
    color: #000;
  }
}

.button-container {
  display: contents;
}

.row-container {
  height: 14%;
  display: flex;
  width: 85%;
  align-items: center;
  margin: auto;
}

.number-button,
.function-button {
  height: 100%;
  width: 25%;
  border-radius: 20%;
  outline: none;
  border: 1px solid blue;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  background-color: #4CAF50;
  box-shadow: 4px 4px 0px grey;
}

.number-button:hover,
.function-button:hover {

  background-color: blue;
  color: white;
  cursor: pointer;
}

.number-button:active,
.function-button:active {
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 6px 6px 0px grey;
  transform: scale(.9);
}

.row-container:nth-child(5) .button-container:first-child button {
  width: 50%
}

.row-container:first-child .button-container:nth-child(4) .function-button {
  background-image: url(images/divid.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

@media (min-width: 1024px) {
  .calc-container {
    height: 400px;
    width: 300px;
  }
}

@media (min-width: 1600px) {
  .calc-container {
    height: 600px;
    width: 425px;
  }

  div.display>output.calc-display {
    font-size: 50px;
  }

  .number-button,
  .function-button {
    font-size: 40px;
  }

  .row-container:first-child .button-container:nth-child(4) .function-button {
    background-size: 50px;
  }
}